# Assignment: Segmenting and Clustering Neighborhoods in Toronto

## Part 1: Creating a dataframe

#### Importing libraries needed

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

#### Getting the data from the targe url

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
url = requests.get(url).text

#### Parsing the HTML data with Beautiful Soup and finding the table with neighborhoods in Toronto

In [3]:
soup = BeautifulSoup(url, "lxml")
all_tables=soup.find_all("table")
right_table=soup.find('table', class_='wikitable sortable')

#### Looping through the rows toc reate the lists for each table colummn

In [4]:
A = []
B = []
C = []

for row in right_table.findAll('tr'):
    cells = row.findAll('td')
    if len(cells) == 3:
        A.append(cells[0].find(text=True))
        B.append(cells[1].find(text=True))
        C.append(cells[2].find(text=True))

#### Cleaning the lists from '\n'

In [5]:
A = [x.replace('\n', '') for x in A]
B = [x.replace('\n', '') for x in B]
C = [x.replace('\n', '') for x in C]

#### Creating a pandas DataFarame and assigning each list to the dataframe column

In [6]:
df =pd.DataFrame()
df['Postal Code'] = A
df['Borough'] = B
df['Neighborhood'] = C
df.head()

  Postal Code           Borough                Neighborhood
0         M1A      Not assigned
1         M2A      Not assigned
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

#### Cleaning the dataframe

In [7]:
df = df[df.Borough != 'Not assigned']
df = df.reset_index(drop = True)
df['Neighborhood'] = df.Neighborhood.replace({' /' : ','}, regex=True)

#### Checking if each column has the same count of values

In [8]:
df.count()

Postal Code     103
Borough         103
Neighborhood    103
dtype: int64

#### Final dataframe

In [9]:
df.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

#### Shape of the dataframe

In [36]:
df.shape

(103, 5)