# Assignment: Segmenting and Clustering Neighborhoods in Toronto

## Part 1: Creating a dataframe

#### Importing libraries needed

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

#### Getting the data from the targe url

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
url = requests.get(url).text

#### Parsing the HTML data with Beautiful Soup and finding the table with neighborhoods in Toronto

In [4]:
soup = BeautifulSoup(url, "lxml")
all_tables=soup.find_all("table")
right_table=soup.find('table', class_='wikitable sortable')

#### Looping through the rows toc reate the lists for each table colummn

In [5]:
A = []
B = []
C = []

for row in right_table.findAll('tr'):
    cells = row.findAll('td')
    if len(cells) == 3:
        A.append(cells[0].find(text=True))
        B.append(cells[1].find(text=True))
        C.append(cells[2].find(text=True))

#### Cleaning the lists from '\n'

In [6]:
A = [x.replace('\n', '') for x in A]
B = [x.replace('\n', '') for x in B]
C = [x.replace('\n', '') for x in C]

#### Creating a pandas DataFarame and assigning each list to the dataframe column

In [7]:
df =pd.DataFrame()
df['Postal Code'] = A
df['Borough'] = B
df['Neighborhood'] = C

#### Cleaning the dataframe

In [8]:
df = df[df.Borough != 'Not assigned']
df = df.reset_index(drop = True)
df['Neighborhood'] = df.Neighborhood.replace({' /' : ','}, regex=True)

#### Final Dataframe

In [9]:
df.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

## Part 2: Adding latitude longitude

#### Getting the latitude and the longitude coordinates of each neighborhood

In [11]:
df_geo = pd.read_csv('geo_cor.csv')
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [12]:
df_geo.shape

(103, 3)

In [13]:
df = pd.merge(df, df_geo, on='Postal Code')

#### Dataframe with latitude longitude

In [14]:
df.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494